@section Header {

    <partial name="~/Views/Shared/_Navbar.cshtml" />

}
@{
    ViewData["Title"] = "Edit";
    var SelectedPolicy = ViewData["SelectedPolicy"] as Guard.Emegenler.Domains.Decorators.EmegenlerPolicyDecorator;
    var Users = ViewData["Users"] as List<EmegenlerMvcPlayground.Models.User>;
    var Groups = ViewData["Groups"] as List<EmegenlerMvcPlayground.Models.Group>;
    var AccessPages = ViewData["Pages"] as Dictionary<string, string>;
    var AccessReports = ViewData["Reports"] as Dictionary<string, string>;
    var AccessForms = ViewData["Forms"] as Dictionary<string, string>;
    var AccessLinks = ViewData["Links"] as Dictionary<string, string>;
    var PageRules = ViewData["PageRules"] as string[];
    var ReportRules = ViewData["ReportRules"] as string[];
    var FormRules = ViewData["FormRules"] as string[];
    var LinkRules = ViewData["LinkRules"] as string[];
}

<br />
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form method="post" action="edit">
                    <input type="hidden" name="PolicyId" value="@SelectedPolicy.PolicyId" />
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <label>Select Access Role</label>
                                <select class="form-control AccessRole" name="SelectedAccessRole">
                                    @if (SelectedPolicy.AuthBase == Guard.Emegenler.FluentInterface.Policy.Types.AuthBase.Role)
                                    {
                                        <option value="1">User</option>
                                        <option value="2" selected>Group</option>
                                    }
                                    @if (SelectedPolicy.AuthBase == Guard.Emegenler.FluentInterface.Policy.Types.AuthBase.User)
                                    {
                                        <option value="1">User</option>
                                        <option value="2" selected>Group</option>
                                    }

                                </select>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <div class="UserRole Roles">
                                <label>Select User</label>
                                <select class=" form-control" name="SelectedUser">
                                    @foreach (var user in Users)
                                    {
                                        if (SelectedPolicy.AuthBase == Guard.Emegenler.FluentInterface.Policy.Types.AuthBase.User && SelectedPolicy.AuthBaseIdentifier == user.Id.ToString())
                                        {
                                            <option value="@user.Id" selected>@user.Name  @user.Surname</option>
                                        }
                                        else
                                        {
                                            <option value="@user.Id">@user.Name  @user.Surname</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="GroupRole Roles">
                                <label>Select Group</label>
                                <select class=" form-control" name="SelectedGroup">
                                    @foreach (var group in Groups)
                                    {
                                        if (SelectedPolicy.AuthBase == Guard.Emegenler.FluentInterface.Policy.Types.AuthBase.Role && SelectedPolicy.AuthBaseIdentifier == group.Id.ToString())
                                        {
                                            <option value="@group.Id" selected>@group.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@group.Id">@group.Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Choose Access Element Type</label>
                            <select class="form-control ElementType" name="SelectedElementType">
                                @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Page)
                                {
                                    <option value="1" selected>Pages</option>
                                    <option value="2">Reports</option>
                                    <option value="3">Forms</option>
                                    <option value="4">Links</option>
                                }
                                @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Component)
                                {
                                    <option value="1">Pages</option>
                                    <option value="2" selected>Reports</option>
                                    <option value="3">Forms</option>
                                    <option value="4">Links</option>
                                }
                                @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Form)
                                {
                                    <option value="1">Pages</option>
                                    <option value="2">Reports</option>
                                    <option value="3" selected>Forms</option>
                                    <option value="4">Links</option>
                                }
                                @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Link)
                                {
                                    <option value="1">Pages</option>
                                    <option value="2">Reports</option>
                                    <option value="3">Forms</option>
                                    <option value="4" selected>Links</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="PagesArea Areas">
                                <label>Select Page</label>
                                <select class="form-control" name="SelectedPage">
                                    @foreach (var accessPage in AccessPages)
                                    {
                                        @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Page && SelectedPolicy.PolicyElementIdentifier == accessPage.Value)
                                        {
                                            <option value="@accessPage.Value" selected>@accessPage.Key</option>
                                        }
                                        else
                                        {
                                            <option value="@accessPage.Value">@accessPage.Key</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="ReportsArea Areas">
                                <label>Select Report</label>
                                <select class="form-control" name="SelectedReport">
                                    @foreach (var accessReport in AccessReports)
                                    {
                                        @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Component && SelectedPolicy.PolicyElementIdentifier == accessReport.Value)
                                        {
                                            <option value="@accessReport.Value" selected>@accessReport.Key</option>
                                        }
                                        else
                                        {
                                            <option value="@accessReport.Value">@accessReport.Key</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="FormsArea Areas">
                                <label>Select Form</label>
                                <select class="form-control" name="SelectedForm">
                                    @foreach (var accessForm in AccessForms)
                                    {
                                        @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Form && SelectedPolicy.PolicyElementIdentifier == accessForm.Value)
                                        {
                                            <option value="@accessForm.Value" selected>@accessForm.Key</option>
                                        }
                                        else
                                        {
                                            <option value="@accessForm.Value">@accessForm.Key</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="LinksArea Areas">
                                <label>Select Link</label>
                                <select class="form-control" name="SelectedLink">
                                    @foreach (var accessLink in AccessLinks)
                                    {
                                        @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Link && SelectedPolicy.PolicyElementIdentifier == accessLink.Value)
                                        {
                                            <option value="@accessLink.Value" selected>@accessLink.Key</option>
                                        }
                                        else
                                        {
                                            <option value="@accessLink.Value">@accessLink.Key</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="PageAreaRules Rules">
                                <label>Select Rule</label>
                                <select class="form-control" name="SelectedPageRule">
                                    @foreach (var pageRule in PageRules)
                                    {
                                        @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Page && SelectedPolicy.AccessProtocol == pageRule)
                                        {
                                            <option value="@pageRule" selected>@pageRule</option>
                                        }
                                        else
                                        {
                                            <option value="@pageRule">@pageRule</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="ReportAreaRules Rules">
                                <label>Select Rule</label>
                                <select class="form-control" name="SelectedReportRule">
                                    @foreach (var reportRule in ReportRules)
                                    {
                                        if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Component && SelectedPolicy.AccessProtocol == reportRule)
                                        {
                                            <option value="@reportRule" selected>@reportRule</option>
                                        }
                                        else
                                        {
                                            <option value="@reportRule">@reportRule</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="FormAreaRules Rules">
                                <label>Select Rule</label>
                                <select class="form-control" name="SelectedFormRule">
                                    @foreach (var formRule in FormRules)
                                    {
                                        if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Form && SelectedPolicy.AccessProtocol == formRule)
                                        {
                                            <option value="@formRule" selected>@formRule</option>
                                        }
                                        else
                                        {
                                            <option value="@formRule">@formRule</option>
                                        }

                                    }
                                </select>
                            </div>
                            <div class="LinkAreaRules Rules">
                                <label>Select Rule</label>
                                <select class="form-control" name="SelectedLinkRule">
                                    @foreach (var linkRule in LinkRules)
                                    {
                                        if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Link && SelectedPolicy.AccessProtocol == linkRule)
                                        {
                                            <option value="@linkRule" selected>@linkRule</option>
                                        }
                                        else
                                        {
                                            <option value="@linkRule">@linkRule</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-outline-success" type="submit">Save Rule</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {

            $(".Areas").hide();
            $(".Rules").hide();
            $(".Roles").hide();

            @if(SelectedPolicy.AuthBase == Guard.Emegenler.FluentInterface.Policy.Types.AuthBase.Role)
            {
                <text>
                    $(".GroupRole").show();
                </text>
            }
            @if(SelectedPolicy.AuthBase == Guard.Emegenler.FluentInterface.Policy.Types.AuthBase.User)
            {
                <text>
                    $(".UserRole").show();
                </text>
            }

            @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Page)
            {
                <text>
                    $(".PagesArea").show();
                    $(".PageAreaRules").show();
                </text>
            }
            @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Component)
            {
                <text>
                    $(".ReportsArea").show();
                    $(".ReportAreaRules").show();
                </text>
            }
            @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Form)
            {
                <text>
                    $(".FormsArea").show();
                    $(".FormAreaRules").show();
                </text>
            }
            @if (SelectedPolicy.PolicyElement == Guard.Emegenler.Types.ElementType.Link)
            {
                <text>
                    $(".LinksArea").show();
                    $(".LinkAreaRules").show();
                </text>
            }

            $(".AccessRole").on("change", function () {
                $(".Roles").hide();
                var selectedRole = $(this).children("option:selected").val();
                if (selectedRole === "1") {
                    $(".UserRole").show();
                }
                else if (selectedRole === "2") {
                    $(".GroupRole").show();
                }
            });


            $(".ElementType").on("change", function () {
                var selectedType = $(this).children("option:selected").val();
                $(".Areas").hide();
                $(".Rules").hide();
                if (selectedType === "1") {
                    $(".PagesArea").show();
                    $(".PageAreaRules").show();
                }
                else if (selectedType === "2") {
                    $(".ReportsArea").show();
                    $(".ReportAreaRules").show();
                }
                else if (selectedType === "3") {
                    $(".FormsArea").show();
                    $(".FormAreaRules").show();
                }
                else if (selectedType === "4") {
                    $(".LinksArea").show();
                    $(".LinkAreaRules").show();
                }
            });

        });
    </script>
}



