@section Header {

    <partial name="~/Views/Shared/_Navbar.cshtml" />

}
@{
    ViewData["Title"] = "Permissions";
    var Policies = ViewData["Policies"] as List<EmegenlerMvcPlayground.Models.ViewModels.PolicyView>;
    var Paginate = ViewData["Paginate"] as EmegenlerMvcPlayground.Logic.PaginationLogic.PaginationResult;
}
<div class="row">
    <div class="col-12">
        <a href="permission/add" class="btn btn-outline-success">Add Policy</a>
        <!--<a href="group/add" class="btn btn-outline-success">Add Group</a>
        <a href="user/add" class="btn btn-outline-success">Add User</a>-->
    </div>
</div>
<br />
<div class="row min-vh-75">
    @foreach (var policy in Policies)
    {
        <div class="col-4" style="margin-bottom:10px;">
            <div class="card">
                <ul class="list-group">
                    <li class="list-group-item"><b>Policy Class:</b> @policy.PolicyElement</li>
                    <li class="list-group-item"><b>Policy Identifier:</b> @policy.PolicyElementIdentifier</li>
                    <li class="list-group-item"><b>Auth Group:</b> @policy.AuthBase</li>
                    <li class="list-group-item"><b>Auth Name:</b> @policy.IdentifierName</li>
                    <li class="list-group-item"><b>Permission: </b>@policy.AccessProtocol</li>
                </ul>
                <div class="btn-group btn-block">
                    <a href="permission/edit" class="btn btn-outline-primary">Edit Permission</a>
                    <a href="permission/delete" class="btn btn-outline-danger">Delete Permission</a>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group">
            @for (int i = 1; i <= Paginate.TotalPageCount; i++)
            {
                <a href="/permission?ChoosedPage=@i" class="btn btn-secondary">@i</a>
            }
            
        </div>
    </div>
</div>


